.table-scrollable-wrapper {
	overflow-x: auto;
	overflow-y: hidden;
	max-width: 100%;
	-webkit-overflow-scrolling: touch;
}

.anchor {
	position: relative;
	padding: 0;
}

.content-editable {
	line-height: var(--mantine-line-height-xl);
	outline: none;
}

.content-editable > * {
	content-visibility: auto;
}

.inline-code {
	display: inline-block;
}

.code-block {
	display: block;
}

.placeholder {
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	user-select: none;
}

.slash-menu-option {
	border-radius: var(--mantine-radius-default);
}

.slash-menu-option-active {
	background-color: var(--mantine-color-default-hover) !important;
}

.floating-menu {
	position: absolute;
	transition: opacity 0.1s ease;
	/* Equals the app shell header. */
	z-index: 100;
}
