.box {
	width: 52rem;
}

.alert {
	margin-top: var(--default-padding);
}

.button-link {
	font-size: 1.6rem;
	text-align: left;
	margin-top: var(--xl-padding);
}

.spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: var(--xl-padding);
}

.verify-email-instruction {
	margin: var(--large-padding) 0;
}

.terms-and-conditions-box {
	display: flex;
	align-items: center;
	gap: var(--small-padding);
	padding-left: var(--small-padding);
	padding-bottom: var(--small-padding);
}
