.box {
	padding: var(--xl-padding);
	background: var(--default-background-color);
	border-radius: var(--default-border-radius);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 1.2rem;
	min-width: 48rem;
	box-shadow: var(--default-box-shadow);
	font-size: 1.6rem;
}

.title-bar {
	display: flex;
	align-items: center;
	gap: var(--default-padding);
	font-size: 2.4rem;
	font-weight: 300;
}

.buttons-row {
	display: flex;
	justify-content: end;
	gap: 6px;
	margin-top: var(--default-padding);

	& button {
		font-size: 1.6rem;
	}
}
