/* TODO: cloze marks not showing until focusing the editor */
.cloze-mark {
	display: inline-block;
	padding: var(--small-padding);
	border-radius: var(--default-border-radius);
	border: 1px solid var(--text-color);
	margin: 1px 2px;
}

.cloze-mark:before {
	content: attr(index);
	padding-right: 2px;
	margin-right: 2px;
	border-right: 1px solid var(--text-color);
	font-weight: normal;
	font-style: normal;
}
