.container {
	width: 100%;
	height: 100%;
	background-color: var(--default-background-color);

	display: flex;
	flex-direction: column;
	gap: 4px;
}

.search-input-container {
	padding: var(--large-padding);
	border-bottom: 1px solid var(--border-color);

	input {
		font-size: 1.4rem;
	}
}

.editable-cells {
	padding: var(--large-padding);
}

.no-search-label {
	margin-top: var(--large-padding);
	text-align: center;
}
