.cloze {
	color: var(--primary-color);
	font-weight: 600;
	display: inline-block;
}

.true-false-row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--spacing-4);

	& button {
		border: var(--default-border-width) solid var(--border-color);
		transition: var(--default-transition-time) all;
		max-width: 50%;
		padding-left: var(--spacing-7);
		padding-right: var(--spacing-7);

		&:hover {
			border-color: var(--hover-border-color);
		}

		&:focus {
			box-shadow: var(--default-box-shadow);
		}

		&.checked {
			border-color: var(--primary-color);
			background-color: var(--primary-color);
			color: #fff;

			&:hover,
			&:active {
				background-color: var(--primary-color);
			}
		}

		&.correct:not(disabled) {
			border-color: var(--primary-color);
		}
	}
}
