/* TODO: weired behavior on small screen */
.side-bar {
	height: 100%;
	border-right: 1px solid var(--border-color);
	background-color: var(--side-bar-background-color);
	width: 26rem;
	transition: 0.15s all;
	max-width: 100%;
	/* Adding more space at the bottom for actions menus. */
	padding-bottom: 10rem;

	--sidebar-inner-padding: 12px 20px;
	--border-seperator: 1px solid var(--hover-border-color);

	.header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-bottom: 1px solid var(--hover-border-color);
		padding: var(--xl-padding);

		& h2 {
			font-size: 2rem;
			font-weight: 600;
		}

		& img {
			margin-right: var(--default-padding);
			width: 2.8rem;

			box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
		}

		& .toggle-button {
			transition: 0s tansform;
			transition: 0s width;
		}
	}

	& * {
		font-size: 1.6rem;
	}

	& .title-row {
		display: flex;
		align-items: center;
		gap: 4px;
	}

	&.closed {
		width: 62px;
		overflow: hidden;

		& > * {
			display: none;
		}

		& .header {
			display: flex;
			padding: var(--xl-padding) 0;
			justify-content: center;

			& .title-row {
				display: none;
			}

			& .toggle-button {
				transform: rotate(180deg);
			}
		}

		& .rows {
			display: block;
			padding: var(--large-padding) var(--default-padding);

			& .row {
				padding: 12px var(--default-padding);
				justify-content: center;

				& p {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 600px) {
	.side-bar {
		width: 100vw;
		transition: none;

		.toggle-button {
			display: none;
		}

		&.closed {
			.toggle-button {
				display: block;
			}
		}
	}
}

.error-box {
	margin: 4px var(--default-padding);
}

.rows {
	padding: var(--large-padding);
	border-bottom: var(--border-seperator);

	.row {
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 12px;
		width: 100%;
		transition: all var(--default-transition-time);
		height: 4.2rem;

		&:hover {
			background-color: var(--grey-background-color);
		}

		&.active {
			background: var(--primary-color);
            color: #fff;
		}
	}
}

.search-input-container {
	padding: var(--sidebar-inner-padding);
	border-bottom: var(--border-seperator);

	.search-input {
		width: 100%;
		background-color: inherit;

		&:focus,
		&:not(:placeholder-shown) {
			background-color: var(--default-background-color);
			border-color: var(--primary-color);
		}
	}
}
